* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Title {
    color: white;
    font-size: 50px;
    float: right;
    margin-right: 25px;
}

#ObiWan, #Yoda, #Sidious, #Vader {
    background-color: white;
    width: 16%;
    text-align: center;
    float: left;
    margin: 20px;
}

.Text {
    color: white;
    font-size: 25px;
    margin-left: 20px;
    width: 37%;
}

#Button {
    background-color: #e6e6e6;
    color: black;
    width: 5%;
    margin-left: 20px;
    text-align: center;
    border: 1px solid white;
}

img {
    height: 150px;
    width: 200px;
}

.Character {
    background-color: white;
    position: relative;
}
